@playback-bar-size: 3px;
@canvas_bg: lighten(black, 10%);
@camera_width: 240px;
@camera_height: 134px;

.player {
  position: relative;
  display: flex;
  background-color: @canvas_bg;
  width: @camera_width;
  height: @camera_height;

  //box-shadow: 0 0 0 1px lighten(@canvas_bg, 10%);
  box-sizing: border-box;
  border: 1px solid lighten(@canvas_bg, 10%);

  canvas {
    width: inherit;
    height: inherit;
  }
}

.playback-bar {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: @playback-bar-size;
  transition: all 300ms;

  background-color: fade(white, 30%);

  .playback-cache, .playback-progress, .playback-handler {
    position: absolute;
    height: 100%;
  }

  .playback-cache {
    background-color: fade(white, 35%);
  }

  .playback-progress {
    background-color: #F12B24;
  }

  .playback-handler {
    box-sizing: border-box;

    right: 0;
    width: 0;
    height: 0;
    border-radius: 0;
    background-color: #F12B24;

    //border: 2px solid rgba(0, 0, 0, 0.38);
    transition: all 300ms;
  }
}

@playback-bar-hover-size: @playback-bar-size*2;
.player:hover {

  .playback-bar {
    height: @playback-bar-hover-size;
    margin-bottom: @playback-bar-hover-size;
    cursor: pointer;
  }

  .playback-handler {
    width: @playback-bar-hover-size;
    height: @playback-bar-hover-size;
    border-radius: @playback-bar-hover-size;
    box-shadow: 0 0 0 5px #F12B24;
  }
}

.playback-control-panel {
  display: flex;
  justify-content: center;
}

@camera_front_modifier: 1.5;
.front_camera {
  width: @camera_width*@camera_front_modifier;
  height: @camera_height*@camera_front_modifier;
}

